<div class="flex flex-col gap-[6px] h-full">

    @* TOP: círculo *@
    <div class="retro-window flex-1 flex items-center justify-center">
        <div class="retro-circle"></div>
    </div>

    @* BOTTOM: kanji *@
    <div class="retro-window flex-1">
        <div class="retro-kanji-block h-full">
            <span>ポ</span>
            <span>ー</span>
            <span>タ</span>
            <span>ル</span>
        </div>
    </div>

</div>