@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo tipo ruido */
body {
    background-color: #070707;
    background-image: radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(255,255,255,0.04), transparent);
    background-size: 2px 2px, 100% 100%;
    color: #d4d4d4;
    font-family: 'Share Tech Mono', monospace;
}

/* Bordes retro */
.retro-border {
    border: 1px solid rgba(255,255,255,0.6);
    box-shadow: 0 0 0 1px rgba(255,255,255,0.15) inset, 0 0 10px rgba(255,255,255,0.05);
}

/* efecto CRT suave */
.crt::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient( to bottom, rgba(255,255,255,0.03) 0px, rgba(255,255,255,0.03) 1px, transparent 2px );
    pointer-events: none;
}


.darker-border-checkbox.form-check-input {
    border-color: #929292;
}



.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}
